{% extends 'generic/base.html' %}
{% comment %} template to list lecturer and allow add / delete {% endcomment %}
{% block body %}
    <form action="{% url 'user:lecturer-register' %}" method="get" style="display: inline;">
        {% csrf_token %}
        <label>Add Lecturer: </label>
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>

    <h2>Lecturer List:</h2>
    {% if lecturer_list %}
        <ol>
            {% for lecturer in lecturer_list %}
                <li>{{ lecturer.username }}
                <form action="{% url 'user:lecturer-delete' lecturer.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="lecturer_id" value="{{ lecturer.id }}"/>
                    <button type="submit" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}